extends ../layout/index 
block contenido 
     main.container.mt-5
          .row
               .col-md-5
                    img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
               .col-md-7      
                    h1 #{pagina}
                    blockquote Nullam aliquet neque iaculis felis suscipit elementum. In blandit nibh eget purus dapibus lacinia. Nullam non lectus sit amet felis tristique accumsan. Etiam tincidunt tincidunt lacus, at tempus elit cursus vitae. Duis quis suscipit diam. 
                    p Fusce et fringilla risus. Nullam massa lacus, euismod in faucibus sed, fringilla at quam. Cras placerat mattis augue id cursus. Praesent rhoncus sodales dolor at dictum.Ut eu pellentesque dolor. Proin nec metus vel lacus vestibulum lacinia. Fusce euismod orci odio, volutpat facilisis erat lacinia sed. Phasellus euismod venenatis consectetur. 
                    p Proin at ipsum non neque imperdiet hendrerit et a arcu. Phasellus dapibus sollicitudin lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu at felis eleifend mattis vitae sagittis arcu. Aliquam maximus, ipsum vitae auctor pellentesque, neque enim egestas odio, vitae sodales nibh sem quis mi 
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Aliquam ex neque, sodales ac est eu, sagittis iaculis lacus. Quisque ac tincidunt tortor.
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destinos
                         p Aliquam ex neque, sodales ac est eu, sagittis iaculis lacus. Quisque ac tincidunt tortor.
                    .col-md-4
                         img(src="img/icono_precios.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejor Precio
                         p Aliquam ex neque, sodales ac est eu, sagittis iaculis lacus. Quisque ac tincidunt tortor.